.DragDropScreen {
 z-index: 0;
 background-color: rgb(236, 240, 241);
 min-width: 100vw;
 min-height: 100vh;
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 position: absolute;

 &::before {
    content: "";
    width: 25000px; 
    height: 15000px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: inherit; 
    cursor: all-scroll;
  } 
}