.header {
    z-index: 10;
    width: 100vw;
    height: 150px;
    display: flex;
    position: sticky;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    background-color: rgb(236, 240, 241);
    border-bottom: 1px solid rgba(185, 185, 185, 0.44);
    font-family: cursive;
    font-size: large;
    
    .logo {
    padding-left: 50px;
    display: flex;
    justify-content: center;
    gap: 9px;
    text-align: center;
    .circle {
        border-radius: 15px;
        width: 28px;
        height: 28px;
        background: rgb(233, 182, 14);
    }
    }
    .btns {
    padding-inline: 50px;

        display: flex;
        justify-content: center;
        gap: 9px;
        text-align: center;
    }

    .listView {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 50px;
        padding: 0 8px;
        background-color: rgb(118, 110, 210);
        color: white;
        font-size: small;
    }

    .nav {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: white;
        color: grey;
        font-size: larger;
    }

    .zoomContainer {
        display: flex;
        justify-content: center;
        position: relative;
        cursor: pointer;
        .perList {
            top: 35px;
            left: 10px;
            position: absolute;
            display: block;
            :hover {
                background-color: rgb(230, 230, 230);
            }
        }
        .none {
            display: none;
        }
    }


    .zoomBtn {
        width: 50px;
        height: 50px;
        background: white;
        border: none;
        color: grey;
        font-size: larger;
    }

    .zoomPercent {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 50px;
        background-color: white;
        border-inline: 1px solid rgba(185, 185, 185, 0.44);
        color: grey;
        
    }
}

.centered {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transform: translate(-50%, -50%);
  }